<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>PRECIOUS LIFES</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
	<header>
		<div class="main">
			<div class="logo">
				<img src="{{ url_for('static', filename='img/logo.png') }}">
			</div>
			<ul>
				<li><a href="#">PRINCIPAL</a></li>
				<li><a href="#">NOSOTROS</a></li>
				{% if sesion_iniciada %}
					<li><a href="perfil">PERFIL</a></li>
					<li><a href="cerrar_sesion">CERRAR SESIÓN</a></li>
					{% if tipo_usuario == 'veterinario' %}
						<li><a href="dar_alta">DAR DE ALTA</a></li>
					{% endif %}
				{% else %}
					<li><a href="registrarse">REGISTRARSE</a></li>
					<li><a href="iniciar_sesion">INICIAR SESIÓN</a></li>
				{% endif %}
			</ul>
		</div>
		<div class="title">
			<h1>PRECIOUS LIFES</h1>
		</div>

		<div class="button">
			<a href="#" class="btn">¿Cómo ayudar?</a>
			<a href="#" class="btn">Quiero adoptar</a>
		</div>
	</header>
</body>
</html>