<html>
<head>
<title>Iniciar Sesión</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/iniciarsesion.css') }}">
<body>
    <div class="loginbox">
    <img src="{{ url_for('static', filename='img/avatar.png') }}" class="avatar">
        <h1>Iniciar Sesión</h1>
        <form action="/iniciar_sesion", method="POST">
            <p>Correo</p>
            <input type="text" name="email" placeholder="Ingrese correo">
            <p>Contraseña</p>
            <input type="password" name="password" placeholder="Ingrese contraseña">
            <input type="submit" name="" value="Iniciar sesión">
            <a href="#">¿Olvidaste contrasña?</a><br>
            <a href="#">¿No tienes cuenta?</a>
        </form>
        
    </div>

</body>
</head>
</html>