<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Precious Lifes Registro </title>    
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/register.css') }}">
</head>
<body>

    <div id="login-box">
      <div class="left-box">
        <h1> Registrarse</h1>
          <a type="text">Si eres voluntario:</a>
          <br>
          <br>
            <form action="/registro_usuario", method="POST">
              <input type="text" name="username" placeholder="Usuario"/>
              <input type="text" name="numtarjeta" placeholder="Ingrese numero de tarjeta"/>
              <input type="text" name="email" placeholder="Correo electronico"/>
              <input type="password" name="password" placeholder="Contraseña"/>
              <input type="password" name="password2" placeholder="Comprobar contraseña"/>
            
              <input type="submit" name="signup-button" value="Registrarse"/>
            </form>
          <br>
          
          <a type="text">Si eres veterinario:</a>
          <br>
          <br>
          <form action="/registro_veterinario" method="post">
            <input type="text" name="username" placeholder="Nombre"/>
            <input type="text" name="direccion" placeholder="Direccion: calle, #, colonia"/>
            <input type="text" name="numtarjeta" placeholder="Ingrese numero de tarjeta"/>
            <input type="text" name="email" placeholder="Correo"/>
            <input type="password" name="password" placeholder="Contraseña"/>
            <input type="password" name="password2" placeholder="Comprobar contraseña"/>
            
            <input type="submit" name="signup-button" value="Registrarse"/>
          </form>
        
      </div>
        <div class="right-box">
          <span class="signinwith">Sign in with<br/>Social Network     </span>
        
        <button class="social facebook">Log in with Facebook</button>    
        <button class="social twitter">Log in with Twitter</button> 
        <button class="social google">Log in with Google+</button> 
            
        
        </div>
        <div class="or">OR</div>
    </div>
    
</body>    
</html>